<div class="row" *ngIf="!panierExists">
  <div class="col-md-12">
    <span class="pull-right">
      <button class="btn btn-success" (click)="creerPanier()">
        <i class="fa fa-shopping-basket"></i> Créer un panier
      </button>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-5" *ngIf="panierExists && slide=='false'">
    <app-add-plat [panierId]="panier.id"></app-add-plat>
  </div>
  <div class="col-md-6" *ngIf="panierExists">
    <app-panier [panier]="panier" (slidePayementPage)="slidePayement($event)"></app-panier>
  </div>
  <div class="col-md-6" *ngIf="panierExists && slide=='true'">
    <app-payement [panierId]="panier.id" [userId]="user.id"></app-payement>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <i class="fa fa-warning"></i>
      Si vous ne voulez pas d'un produit dans votre plat, mettez <b>0</b> comme montant
    </div>
  </div>
</div>

