<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center">Ajouter un produit</h1>
    <form [formGroup]="formAddProduit">
      <div class="form-group text-center">
        <input type="text" placeholder="Nom" formControlName="libelle"
               id="nom" class="form-control form-control-lg">
      </div>
      <div class="form-group text-center">
        <input type="number" placeholder="Prix" formControlName="prix"
               id="prix" class="form-control form-control-lg">
      </div>
      <div class="form-group text-center">
        <button (click)="addProduit(formAddProduit)" class="btn btn-lg btn-info form-control"
                [disabled]="formAddProduit.invalid">
          <i class="fa fa-save"></i> Enregistrer
        </button>
      </div>
    </form>

    <table class="table table-hover table-bordered">
      <tr class="font-weight-bolder h5">
        <td>Nom</td>
        <td>Prix unitaire</td>
        <td>Actions</td>
      </tr>
      <tr *ngFor="let produit of produits">
        <td>{{produit.libelle}}</td>
        <td>{{produit.prix}}</td>
        <td>
          <button class="btn rounded-circle btn-primary">
            <i class="fa fa-pencil"></i>
          </button>
          <button (click)="deleteProduit(produit.id)" class="btn rounded-circle btn-danger ml-1">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="!produits">
        <td class="text-center text-danger h6" colspan="3">Aucun produit enregistré...</td>
      </tr>
    </table>
  </div>
</div>
