<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover" *ngIf="adresses">
      <tr class="font-weight-bold">
        <td>Quartier</td>
        <td>Numéro de bloc</td>
        <td>Numéro de case</td>
        <td></td>
      </tr>
      <tr *ngFor="let adresse of adresses">
        <td>{{adresse.quartier}}</td>
        <td>{{adresse.numBlock}}</td>
        <td>{{adresse.numCase}}</td>
        <td>
          <button (click)="deleteAdresseLivraison(adresse.id)" class="btn btn-danger">
            <i class="fa fa-minus"></i>
          </button>
        </td>
      </tr>
    </table>
    <div class="alert alert-info" *ngIf="!adresses">
      <i class="fa fa-info-circle"></i> Aucune adresse enregistrée
    </div>
  </div>
</div>
